body {
  font-family: 'Segoe UI';
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  padding-bottom: 50px;
}

/* Header */
header {
  background: #000;
  color: white;
  padding: 10px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-list li a:hover,
.nav-list li a.active {
  background: #007BFF;
}


h1, h2 {
  margin-bottom: 15px;
  color: #007BFF;
}


p {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.skills-list li {
  background: #007BFF;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 0.9rem;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
  font-size: 0.9rem;
}


